<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<form action="index.html" class="login-form">
    <h1>登录</h1>

    <div class="txtb">
        <input type="text">
        <span data-placeholder="Username"></span>
    </div>

    <div class="txtb">
        <input type="password">
        <span data-placeholder="Password"></span>
    </div>

    <input type="submit" class="logbtn" value="Log In">

    <div class="bottom-text">
        没有账号? <a href="#">注册</a>
    </div>

</form>
<script>
    $(".txtb input").on("focus", function(){
        $(this).addClass("focus");
    });
    $(".txtb input").on("blur", function(){
        if($(this).val() == "")
            $(this).removeClass("focus");
    });
</script>


</body>
</html>